.card-inner {
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    height: 275px;
    width: 270px;
    align-content: center;
    padding: 20px;
    border: 2px solid #E8E8E8;
 }

 .card-groups {
   margin-top: 130px;
 }

 card-title-groups {
    font-weight: bold;
 }

 groups-page {
    border: 10px solid #E8E8E8;
    height: 800px;
    width: auto;
    margin-top: 50px
 }

 .tasks {
   margin-left: 50px;
 }
 span {
   margin-left: 20px;
   margin-right: 10px;
 }
 
 .form-check-label {
   margin-bottom: 17px;
 }
 
 .task-name {
   margin-top: 8px;
   font-size: 12px;
   color: Grey;
 }

 .groups-page {
   background-color:  #f6f2ef;
   height: 1000px;
   width: auto;
 }
