.label {
    padding: 10px;
    margin-left: 5px;
}

.notes {
    margin-left: 5px;
}

.notes-label{
    margin-right: 5px;
}

.edit-task {
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 10px;
}
