.todo-tasks {
  margin-left: 50px;
}
span {
  margin-left: 20px;
  margin-right: 10px;
}

.form-check-label {
  margin-bottom: 17px;
}

.profile-name {
  margin-top: 8px;
  font-size: 12px;
  color: Grey;
}

.btnlink {
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 125%;
}

.btnlink:hover {
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: rgb(26, 25, 25);
    font-weight: 750;
}

.btnlink:active {
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: rgb(26, 25, 25);
    font-weight: 750;
}
.btnlink:visited {
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: rgb(26, 25, 25);
    font-weight: 750;
}

