.todo-tasks {
  margin-left: 50px;
}
span {
  margin-left: 20px;
  margin-right: 10px;
}

.form-check-label {
  margin-bottom: 17px;
}

.profile-name {
  margin-top: 8px;
  font-size: 12px;
  color: Grey;
}

.btnlink {
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 150%;
    margin-top: 5%;
    align-items: center;
    align-content: center;
}



.btn-row{
  margin-bottom: 10px;
}


Modal {
  margin-bottom:10px;
}

