.custom-control-input {
   margin-left: 50px;
}

.card {
   border-radius: 25px;
   text-align: center;
   display: inline-block;
   height: 200px;
   width: 325px;
   align-content: center;
   margin-bottom: 50px;
}

.h3 {
  color: #283c46
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: .20px solid #283c46;
    margin-left: 100px;
    margin-right: 100px;
}
.separator::before {
    margin-right: 25px;
}
.separator::after {
    margin-left: 25px;
}

.new-button {
    margin-left: 100px;
}